h5py 
keras
Keras-Preprocessing
numpy
opencv-contrib-python
opencv-python
pandas 
pandocfilters 
scikit-build 
scikit-image
scikit-learn
scipy
streamlit
streamlit-cropper
tensorboard
tensorboard-data-server
tensorboard-plugin-wit
tensorflow-estimator
tensorflow-gpu
tensorflow-io-gcs-filesystem
wget

